@charset "utf-8";
/* CSS Document */

A:link{ color:#2B2929; text-decoration:none; }
A:hover{ color:#2B2929; text-decoration:underline; }
A:active{ color:#2B2929; text-decoration:none; }
A:active:hover{ color:#2B2929; text-decoration:underline; }
A:visited{ color:#2B2929; text-decoration:none; }
A:visited:hover{ color:#2B2929; text-decoration:underline; }

input.rounded{
	border: none;
	width: 190px;
	background: #FF7E00;
	background-image: url(images/rounded.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 8px;
	color: #FFFFFF;

}
body{
	background:#2B2929;
	color:#2B2929;
	background-image:url(images/bgpattern.png);
	margin:10px;
}

#overall{
	width: 750px;
	margin-left: auto;
	margin-right: auto;	
}

#loginwrap{
	width:1024px;
	margin-left: auto;
	margin-right: auto;
}	

#loginheader{
	background:#FFFFFF;
	width:1024px;
	height:460px;
	background-image:url(images/loginpage.png);
}
#loginradios{
	background: #FF7E00;
	width: 1024px;
	height: 50px;
}
#login
{
	background: #FF7E00;
	width: 1024px;
	height: 40px;
	text-align: right;
}
#logout{
	background: #FF7E00;
	width: 750px;
	height: 25px;
}


#header{
	background:#2B2929;
	width:750px;
	height:100px;
	background-image:url(images/banner.png);
}

#linkbar{
	width:750px;
	height:25px;
	background:#FF7E00;
	text-align:center;
	padding-top:5px;
	font:12pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#content{
	background:#FFFFFF;
	overflow: auto;
	padding-left:30px;
	padding-right:30px;
	padding-top:10px;
	padding-bottom:10px;
	text-align: center;
	font:10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#leftcol{
	border: 0;
	float: left;
	width: 33%;
}

#rightcol{
	border: 0;
	float: right;
	width: 33%;
}

#centercol{
	border: 0;
	float: left;
	width: 33%;
}

input.submit{
	width: 150px;
}


#file{
	border:0;
	font:12pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-left:48px;
	padding-right:48px;
	padding-bottom:20px;
}

#file-subtext{
	font:8pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#999999;
}

#footer{
	clear: both;
	background:#2B2929;
	color:#555555;
	text-align:center;
	font:8pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
